@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --font-geist-sans: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #003660;
  --color-secondary: #fdb614;
  --color-text-primary: #fcf5f5;
  --color-text-secondary: #012b4c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
}
