@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --font-geist-sans: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #003660;
  --color-secondary: #fdb614;
  --color-text-primary: #fcf5f5;
  --color-text-secondary: #012b4c;
  --color-bg-light: #bedbff;
  /* --color-bg-light: #92caf155; */
  --color-text-subtitle: #76cff4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
  font-weight: 300;
  /* font-size: 1rem; */
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-weight: 300;
  margin-bottom: 1rem;
}
h2 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

@layer components {
  .btn {
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #0000003d;
  }
  .btn:hover {
    box-shadow: 0px 6px 8px 0px #00000052;
  }

  .bg_gradient {
    background: #ffffff;
    background: linear-gradient(1deg, #92caf1 0%, #cae5f8 100%);
  }
}
